.product{
    margin: 10px;
    background-color:darkslategrey;
    border-radius: 5px;
    padding: 15px;
    text-align: left;
}
.product img{
    width: 30%;
}
.product h2{
    line-height: 1;
}


.shoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
}
.container h1{
    font-size: 30px;
    line-height: 1;
    text-align: left;
    margin-left: 25px;
}