.filterClothing{
    border-bottom: 1px solid #DFDFDF;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-bottom: 30px;
}

.filterClothing ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    text-align: left;

    cursor: pointer;
    margin-left: 0;
    padding-left: 0;
}

.filterClothing li{
    margin-right: 30px;
    color: #8A8A8A;
    font-weight: 500;
}

.filterClothing li:hover{
    color: #000000;
}