.filterClothing{
    border-bottom: 1px solid #DFDFDF;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-bottom: 30px;
}

.filterClothing ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    text-align: left;

    cursor: pointer;
    margin-left: 0;
    padding-left: 0;
}

.filterClothing li{
    margin-right: 30px;
    color: #8A8A8A;
    font-weight: 500;
}

.filterItemActive{
    color: black !important;
}
.filter{
    display: flex;
    border-radius: 5px;
    /* text-align: left; */
    flex-direction: column;
}
.filterGender{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: left;

        /* margin: 0 auto; */
        width: 90%;
    }
    .filterGender img{
        width: 405px;
        height: 376px;
        margin: 0 auto;
        /* width: 80%; */
    
    
}

.filterClothing li:hover{
    color: #000000;
}
.more p:hover{
    color: #000000;
}

.more p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #8A8A8A;
}
.more img{
margin: 0;
}