.footer{
    text-align: center;
    padding: 50px;
}

.menu{
    list-style: none;
    cursor: pointer;
    color: #000000;
}

.submenuFooterGeneral{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    float: left;
    align-items: flex-start;
}

.submenu{
 list-style: none;   
 color: #000000;
 justify-content: left;
 text-align: left;
}

.submenu li{
    text-align: left;
    
}

.titles{
    display: flex;
    flex-direction: column;
}

.titles h1{
    margin: 0;
    font-size: 80px;
}

.titles p{
    margin: 0;
}

