.footer{

    text-align: center;
    /* display: flex; */
    
}

.menu{
    list-style: none;
    cursor: pointer;
    color: #000000;
}

.submenuFooterGeneral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.submenu{
 list-style: none;   
 color: #000000;
}

.titles{
    display: flex;
    flex-direction: column;
}

.titles h1{
    margin: 0;
}

.titles p{
    margin: 0;
}

