.footer{
    /* text-align: center; */
    padding: 50px;
}

.menu{
    list-style: none;
    cursor: pointer;
    color: #000000;
    margin-top: 40px;
}

.submenuFooterGeneral{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    float: left;
    align-items: flex-start;
}

.submenu{
 list-style: none;   
 color: #000000;
 justify-content: left;
 text-align: left;
}

.submenu li{
    text-align: left;
    
}

.titles{
    display: flex;
    justify-content: center;
}

.titles h1{
    margin: 0;
    font-size: 80px;
    font-weight: 900;
    line-height: 0.8;
}

.titles p{
    margin: 0;
}

.titles2{
    display: flex;
    flex-direction: column;
}