.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.products h1{
    /* text-align: center; */
}

.products img{
    width: 30%;
    border-radius: 5%;
}

.collection {
    width: 100%;
    padding: 20px;
  }
  
  .contenedor {
    display: flex;
    flex-direction: row; /* Organiza los hijos en fila */
    justify-content: space-between; /* Espaciado entre columnas */
    align-items: flex-start; /* Alinea elementos al inicio verticalmente */
    gap: 20px; /* Espacio entre columnas */
  }
  
  .presentacion {
    flex: 1; /* Ocupa una porción igual del espacio disponible */
    text-align: center;
    margin-top:50px ;
  }

  .presentacion h1{
    text-align: left;
    line-height: 0.9;
    margin: 1px;
  }

  .presentacion p{
    text-align: left;
    font-weight: bold;
  }
  
  .carrusel {
    flex: 2;
    max-width: 600px; /* Ajusta según tu diseño */
  }
