.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.products h1{
    /* text-align: center; */
}

.products img{
    width: 30%;
    border-radius: 5%;
}

.collection {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin-top: 100px;
  }
  
  .contenedor {
    display: flex;
    flex-direction: row; /* Organiza los hijos en fila */
    justify-content: space-between; /* Espaciado entre columnas */
    align-items: flex-start; /* Alinea elementos al inicio verticalmente */
    gap: 20px; /* Espacio entre columnas */
  }
  
  .presentacion {
    display: flex;
    flex-direction: column;
    flex: 1; /* Ocupa una porción igual del espacio disponible */
    text-align: center;
    margin-top:10px ;
    height: 49vh;
  }

  .presentacion h1{
    text-align: left;
    line-height: 1;
    margin: 0;

    font-size: 48px;
    /* font-weight: 400; */
    /* line-height: 0.9px; */
    letter-spacing: 2px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .presentacion p{
    text-align: left;
    font-weight: 100;
    margin: 0;
  }

  .presentacion button{
    margin-top: auto; /* Empuja el botón hacia abajo */
    align-self: flex-start; /* Opcional: Alinéalo según el diseño */
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    color: #000000;

    width: 265px;

    border-radius: 2px;
    justify-content: space-between;
  }

  .presentacion img{
    
  }
  
  .carrusel {
    flex: 2;
    max-width: 760px;
  }

  .slickcarousel{
    display: flex;
    justify-content: right;
  }
  
  .slickcarousel img{
    width: 366px;
    height: 376px;
  }

  .XV image{
    width: 10%;
  }


