.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.products h1{
    /* text-align: center; */
}

.products img{
    width: 30%;
    border-radius: 5%;
}

.slick{
    width: 55%  !important;
    margin: 0 auto;
}

.slickcarousel{
    width: auto !important;
    margin: 0 auto;
}

.slickcarousel img{
    /* margin: 0 auto; */
}