.newwek{
    margin-top: 100px;
    width: auto;
}

.newwek h1{
    text-align: left;
    text-transform: uppercase;
    margin-bottom: auto;
}


.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.slicknew{
    width: 85% !important;
    margin-top: 20px;

    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    
}

.slick-slide{
    width: auto;
}

.slicknew img{
    width: 305px;
    height: 313px;
    
    
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}