.newwek{
    margin-top: 100px;
    width: auto;
}

@media (max-width: 600px) {
    .newwek{
        margin-top: 30px;
    }
}

.newwek h1{
    text-align: left;
    text-transform: uppercase;
    margin-bottom: auto;
}


.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    line-height: 1;
}
.info .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info .title p{
    margin: 50px;
}



.slicknew{
    width: 90% !important;
    margin-top: 20px;
    

    /* justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column; */

    
}

.slicknew p{
    font-size: 14px;
}

.slick-slide{
    width: auto;
}

.slicknew img{
    width: 100%;
    height: 313px;
}

@media (max-width: 600px) {
    .slicknew img{
        height: 100%;
    }
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.info p{
    font-weight: bold;
    font-family: "Beatrice Deck Trial Medium";
}

.carrusel{
    position: relative;
}
.customArrow{
    position: absolute;
    bottom: -40px; /* Ubicadas debajo del carrusel */
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 1px;
    color: #000;
}

.customArrow:hover {
    background-color: #ddd;
  }

  .customArrow.prev{
    left: 49%;
  }

  .customArrow.next{
   right: 52%;
  }